<div class="navbar">
  <div class="navbar-content">

    <div class="brand">
      <img class="navbar-logo" src="assets/icon.png" alt="Logo" />
      <h1>Personal Finance System</h1>
    </div>

    <nav *ngIf="isLoggedIn">
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/transactions">Transactions</a>
      <a routerLink="/budget">Budget</a>
      <a routerLink="/analytics">Analytics</a>
      <select [(ngModel)]="selectedCurrency" (change)="onCurrencyChange()" class="currency-selector">
        <option *ngFor="let currency of currencies" [value]="currency.code">
          {{ currency.symbol }} {{ currency.code }}
        </option>
      </select>
      <button (click)="logout()">Logout</button>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>
