.navbar {
  background: linear-gradient(135deg, #06d6a0 0%, #118ab2 100%);
  color: white;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 1rem;

  h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: #000000;
      }
    }

    button {
      background-color: #c0f8e2;
      color: black;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #c0f8e2;
      }
    }
  }
}

.navbar-logo {
  margin-right: 1rem;
  height: 40px;
  width: auto;
  display: block;
}

.brand {
  width: 2000px;
  display: flex;
  align-items: center;
  gap: 10px;

  nav {
    margin-left: auto;
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}