MYSQL_DATABASE=FinanceSystem
MYSQL_USER=root
MYSQL_ROOT_PASSWORD=change_this_mysql_root_password
JWT_SECRET=change_this_to_a_long_random_secret_for_production_64_chars_minimum
JWT_EXPIRATION=86400000
